body
{
    background: #1abc9c;
    margin: 0;
}


a.squiffy-link
{
    text-decoration: underline;
    color: brown;
    cursor: pointer;
}
a.squiffy-link.disabled
{
    text-decoration: none;
    color: black !important;
    cursor: inherit;
}
a.gamebook-title
{
    text-aligen: left;
    text-decoration: bold;
    cursor: pointer;
    }
a.squiffy-header-link
{
    text-decoration: bold;
    text-align: right;
    cursor: pointer;
}

div#left {
    float: left;
    }

div#right {
    float: right;
    }

div#background
{
    max-width: 100%;
    background: #1abc9c;
    margin: 0;
    color: black;
}

div#squiffy-container
{
    max-width: 100%;
    background: #1abc9c;
    padding: 20px;
    margin-top: 30px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
    -webkit-box-shadow: 4pxpx 4pxpx 4pxpx 4pxpx #0D0D0D;
    box-shadow: 4pxpx 4pxpx 4pxpx 4pxpx #0D0D0D;
}
div#squiffy-header
{
    font-size: 16px;
    background: #1abc9c;
    text-align: right;
}
div#squiffy
{
    font-size: 18px;
    background: #1abc9c;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 16px; margin-bottom: 16px;
}

.footer {
    max-width: 100%
    background: dodgerblue;
    color: black;
    }
.footer il {
    display: in-line block;
    }
