body
{
    background-image: url("https://images6.alphacoders.com/343/343614.jpg") !important;
    background-position: center !important;
    width: 100%;
    height: 100%;
}

a.squiffy-link
{
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
}
a.squiffy-link.disabled
{
    text-decoration: none;
    color: white !important;
    cursor: inherit;
}
a.squiffy-header-link
{
    text-decoration: underline;
    color: green;
    cursor: pointer;
}

div#background
{
    max-width: 100%;
    background: rgba(0,0,0, 0.6);
    color: white;
}

div#squiffy-container
{
    background: rgba(0, 0, 0, 0.6) !important;
    height: 90%;
    width: 90%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
}
div#squiffy-header
{
    font-size: 16px;
    background: rgba(0,0,0,0.6);
    text-align: right;
}
div#squiffy
{
    font-size: 18px;
    background: black;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 16px; margin-bottom: 16px;
}
