body { 
	background-image: url("https://images4.alphacoders.com/661/661582.png"); 
	background-color: rgba(0, 0, 0, 0.2);
	max-width: 100%; 
	margin: 0;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: .7em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #FFF
  color: #000;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

a.squiffy-link
{
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
}


a.squiffy-link.disabled
{
    text-decoration: none;
    color: black !important;
    cursor: inherit; 
	background: none; 
	padding: none;
	box-shadow: none;
	text-shadow: none;
	border: none; 
	border-radius: none;
}


a.squiffy-header-link
{
    text-decoration: bold;
    text-align: right;
    cursor: pointer;
}

div#background
{
    max-width: 100%;
    background: #FFF;
    margin: 0;
    color: black;
}

div#squiffy-container
{
    max-width: 100%;
    background: #FFF;
    padding: 20px;
    margin-top: 30px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
    -webkit-box-shadow: 4pxpx 4pxpx 4pxpx 4pxpx #0D0D0D;
    box-shadow: 4pxpx 4pxpx 4pxpx 4pxpx #0D0D0D;
}
div#squiffy-header
{
    font-size: 16px;
    background: #FFF;
    text-align: right;
}
div#squiffy
{
    font-size: 16px;
    background: FFF;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 16px; margin-bottom: 16px;
}
